
$primary-color: #0098d3;


$primary-clr-dark: #0280b3;

$menu-clr:#252527;


$font-light: #fff;
$font-grey-light: #c8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;


$border-light: #fff;
$border-grey-light: #c8e8e8;
$border-grey: #808080;
$border-grey-dark: #000;


$background-light: #fff;
$background-grey-light: #c8e8e8;
$background-grey: #808080;
$background-grey-dark: #000;
$background-error: #fff0001f;
$background-succes: #84b84c1f;


$succes: green;
$error: red;


$media-break-point-down-xs: 413.98px;
$media-break-point-down-sm: 573.98px;
$media-break-point-down-md: 767.98px;
$media-break-point-down-lg: 991.98px;
$media-break-point-down-xl: 1199.98px;

$media-break-point-up-xl: 320px;
$media-break-point-up-sm: 576px;
$media-break-point-up-md: 768px;
$media-break-point-up-lg: 992px;
$media-break-point-up-xl: 1200px;